<div class="movies-container">
  <input
    type="text"
    id="first_name"
    (input)="filterText.set($any($event.target).value)"
    class="bg-neutral-secondary-medium border border-white text-heading text-white text-sm rounded-base focus:ring-brand focus:border-brand block px-3 py-2.5 shadow-xs placeholder:text-body w-4/5"
    placeholder="Search for movies"
    required
  />
  <h1 class="text-white text-3xl mt-[20px] mb-[20px]">Bookmarked Movies</h1>
  <div
    class="min-h-[720px] grid grid-cols-3 gap-[70px] overflow-y-auto scrollbar"
  >
    @if (displayBookmarkedItems().length > 0) {
      @for (item of displayBookmarkedItems(); track $index; let i = $index) {
        @if (item) {
          <div class="relative w-[328px] h-[220px]">
            <app-shared-bookmark
              [item]="item"
              [isBookmarked]="item.isBookmarked"
              (toggle)="toggleBookmark($event)"
            ></app-shared-bookmark>

            <img [src]="item.thumbnail.regular.small" alt="movie-image" />
            <div class="flex items-center mt-[10px] text-gray-300 text-sm">
              <span>{{ item.year }}</span>
              <span class="mx-2">•</span>
              <span>{{ item.category }}</span>
              <span class="mx-2">•</span>
              <span>{{ item.rating }}</span>
            </div>
            <h2 class="text-2xl text-white">
              {{ item.title }}
            </h2>
          </div>
        }
      }
    } @else {
      <h1 class="text-white">No Bookmarked Movies or Series were found !</h1>
    }
  </div>
</div>
