<div class="movies-container">
  <input
    type="text"
    id="first_name"
    (input)="filterText.set($any($event.target).value)"
    class="bg-neutral-secondary-medium border border-white text-heading text-white text-sm rounded-base focus:ring-brand focus:border-brand block px-3 py-2.5 shadow-xs placeholder:text-body w-4/5"
    placeholder="Search for movies or TV series"
    required
  />
  <h1 class="text-white text-3xl mt-[20px] mb-[20px]">Trending</h1>
  <div
    class="min-h-[1080px] grid grid-cols-1 min-[900px]:grid-cols-2 xl:grid-cols-3 gap-x-[60px] gap-y-[70px] justify-items-center text-white"
  >
    @for (item of store.trendingItems(); track $index; let i = $index) {
      @if (item.isTrending === true) {
        <div class="relative w-[328px] h-[220px]">
          <app-shared-bookmark
            [item]="item"
            [isBookmarked]="item.isBookmarked"
            (toggle)="toggleBookmark($event)"
          ></app-shared-bookmark>

          <img [src]="item.thumbnail.regular.small" alt="movie-image" />
          <div class="absolute bottom-[15px] left-[15px]">
            <div class="flex items-center text-gray-300 text-sm">
              <span>{{ item.year }}</span>
              <span class="mx-2">•</span>
              <span>{{ item.category }}</span>
              <span class="mx-2">•</span>
              <span>{{ item.rating }}</span>
            </div>
            <h2 class="text-2xl">
              {{ item.title }}
            </h2>
          </div>
        </div>
      }
    }
  </div>
  <h1 class="text-white text-3xl mt-[25px] mb-[20px]">Recommended for you</h1>
  <div
    class="mr-[20px] min-h-[1080px] grid grid-cols-1 min-[900px]:grid-cols-2 xl:grid-cols-3 gap-x-[60px] gap-y-[70px] justify-items-center"
  >
    @for (item of filteredShows(); track $index; let i = $index) {
      <div class="text-white relative w-[328px]">
        <app-shared-bookmark
          [item]="item"
          [isBookmarked]="item.isBookmarked"
          (toggle)="toggleBookmark($event)"
        ></app-shared-bookmark>
        <img [src]="item.thumbnail.regular.small" alt="movie-image" />
        <div class="flex items-center mt-[10px] text-gray-300 text-sm">
          <span>{{ item.year }}</span>
          <span class="mx-2">•</span>
          <span>{{ item.category }}</span>
          <span class="mx-2">•</span>
          <span>{{ item.rating }}</span>
        </div>
        <h2 class="text-2xl">
          {{ item.title }}
        </h2>
      </div>
    }
  </div>
</div>
