<div class="login-container">
  <div class="login-box">
    <div>
      <img [src]="movieImg" alt="movie image" />
    </div>
  </div>
  <div class="outer-box">
    <h1 class="text-4xl pt-8 pl-8 text-white">Login</h1>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="example-full-width no-autofill-bg custom-w"
    >
      <!-- Email input -->
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Email Address"
        class="bg-transparent text-white focus:bg-transparent custom-input"
      />
      <mat-error
        *ngIf="submitted && loginForm.get('email')?.hasError('required')"
      >
        Email is required
      </mat-error>
      <mat-error *ngIf="submitted && loginForm.get('email')?.hasError('email')">
        Enter a valid email
      </mat-error>

      <!-- Password input -->
      <div class="relative w-full mt-4">
        <input
          matInput
          [type]="shared.showPassword() ? 'text' : 'password'"
          formControlName="password"
          placeholder="Password"
          class="w-full bg-transparent text-black focus:bg-transparent custom-input pr-10"
        />

        <mat-icon
          (click)="shared.toggle(shared.showPassword)"
          class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer"
        >
          {{ shared.showPassword() ? "visibility_off" : "visibility" }}
        </mat-icon>
      </div>
      <mat-error
        *ngIf="submitted && loginForm.get('password')?.hasError('required')"
      >
        Password is required
      </mat-error>

      <!-- Submit button -->
      <button
        type="submit"
        class="login-btn w-full h-[48px] mt-[10px] bg-[#FC4747] text-[#fff] rounded-md cursor-pointer"
      >
        Login to your account
      </button>
    </form>

    <div class="text-center mt-[10px]">
      <span class="text-[#fff]">Don't have an account?</span>
      <span
        (click)="redirectoSignUp()"
        class="text-[#FC4747] ml-[5px] hover:cursor-pointer"
      >
        Sign Up
      </span>
    </div>
  </div>
</div>
