.login-container {
  display: grid;
  place-items: center;

  .login-box {
    margin-top: 8%;
  }

  .outer-box {
    margin-top: 5%;
    border-radius: 20px;
    width: 400px;
    padding-bottom: 30px;
    background: #161d2f;
  }
}

.example-form {
  margin-top: 30px;
  .example-full-width,
  .login-btn {
    width: 80%;
    margin-left: 10%;
  }
}
