.menu-wrapper-container {
  display: flex;
  justify-content: flex-start;
  height: 100vh;

  .menu-wrapper {
    background: #161d2f;
    width: 96px;
    height: 96%;
    margin-left: 30px;
    border-radius: 16px;

    @media screen and (max-width: 768px) {
      width: auto;
      margin-left: 10px;
    }
  }
}

.inner-menu-nav img {
  transition: 0.2s;
}

.inner-menu-nav img:hover {
  filter: brightness(0) invert(1);
}

.inner-menu-nav img.active {
  filter: brightness(0) invert(1);
}

.dashboard-content {
  height: 98vh;
  width: 100%;
  margin-top: 2vh;
}
